@{
    ViewBag.Title = "Home Page";
}

   <!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Cartefact Car !</h1>
                    <p class="intro-text">
                        Welcome to Cartefact Car Hire.
                        <br>Rent a car online
                    </p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="glyphicon glyphicon-triangle-bottom animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Cartefact Car</h2>
            <p>Enjoy our outstanding reception service. Your vehicle will be available where you want, at a time that suits you.</p>
            <p>Before hitting the road, a member of Cartefact trained staff will familiarize you with the vehicle and conduct, to enjoy.</p>
        </div>
    </div>


    <!-- Map Section -->
    <div id="map"></div>
</section>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
